<a href="https://colab.research.google.com/github/Fakhre-Alam-Hub/Movie-Recommendation-System/blob/main/Data%20Collection/.ipython/DataScrapping1970s.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bollywood 1970s Movie Data Scrapping from Wikipedia

In [1]:
import pandas as pd
import numpy as np

In [49]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1970"
df1 = pd.read_html(link, header=0)[2]

df_1970 = df1

df_1970['Year'] = np.array(['1970']*df_1970.shape[0])

In [52]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1971"
df1 = pd.read_html(link, header=0)[2]


df_1971 = df1

df_1971['Year'] = np.array(['1971']*df_1971.shape[0])

In [56]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1972"
df1 = pd.read_html(link, header=0)[2]

df_1972 = df1

df_1972['Year'] = np.array(['1972']*df_1972.shape[0])

In [60]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1973"
df1 = pd.read_html(link, header=0)[2]

df_1973 = df1

df_1973['Year'] = np.array(['1973']*df_1973.shape[0])

In [64]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1974"
df1 = pd.read_html(link, header=0)[3]

df_1974 = df1

df_1974['Year'] = np.array(['1974']*df_1974.shape[0])

In [66]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1975"
df1 = pd.read_html(link, header=0)[2]

df_1975 = df1

df_1975['Year'] = np.array(['1975']*df_1975.shape[0])

In [73]:
df_1975.head()

            Title       Director  ...                 Sources  Year
0      Aaja Sanam    Yusuf Naqvi  ...                     NaN  1975
1  Aag Aur Toofan   Tanvir Ahmed  ...                     NaN  1975
2     Aakhri Daao            NaN  ...  Writer - Salim / Javed  1975
3        Aakraman  J. Om Prakash  ...                     NaN  1975
4          Aandhi         Gulzar  ...                     NaN  1975

[5 rows x 6 columns]

In [74]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1976"
df1 = pd.read_html(link, header=0)[3]

df_1976 = df1

df_1976['Year'] = np.array(['1976']*df_1976.shape[0])
df_1976 = df_1976[['Title','Director','Cast','Genre','Sources','Year']]

In [76]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1977"
df1 = pd.read_html(link, header=0)[3]

df_1977 = df1

df_1977['Year'] = np.array(['1977']*df_1977.shape[0])

In [78]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1978"
df1 = pd.read_html(link, header=0)[3]

df_1978 = df1

df_1978['Year'] = np.array(['1978']*df_1978.shape[0])

In [82]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1979"
df1 = pd.read_html(link, header=0)[3]

df_1979 = df1

df_1979['Year'] = np.array(['1979']*df_1979.shape[0])

In [83]:
frames = [df_1970,df_1971,df_1972,df_1973,df_1974,df_1975,df_1976,df_1977,df_1978,df_1979]

df_1970s = pd.concat(frames,ignore_index=True)

In [84]:
df_1970s.to_csv('1970s.csv', index = False)