<a href="https://colab.research.google.com/github/Fakhre-Alam-Hub/Movie-Recommendation-System/blob/Data-Collection/DataScrapping1970s.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bollywood 1970s Movie Data Scrapping from Wikipedia

In [2]:
import pandas as pd
import numpy as np

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1970"
df1 = pd.read_html(link, header=0)[2]

df_1970 = df1
df_1970['Year'] = np.array(['1970']*df_1970.shape[0])

In [4]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1971"
df1 = pd.read_html(link, header=0)[2]

df_1971 = df1

df_1971['Year'] = np.array(['1971']*df_1971.shape[0])

In [5]:
# df1 = pd.read_html(link, header=0)[2]
# df2 = pd.read_html(link, header=0)[3]
# df3 = pd.read_html(link, header=0)[4]
# df4 = pd.read_html(link, header=0)[5]
# df5 = pd.read_html(link, header=0)[6]
# df6 = pd.read_html(link, header=0)[7]

# df_1963 = df1.append(df2.append(df3.append(df4.append(df5.append(df6,ignore_index=True),ignore_index=True),ignore_index=True),ignore_index=True),ignore_index=True)

In [6]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1972"
df1 = pd.read_html(link, header=0)[2]

df_1972 = df1

df_1972['Year'] = np.array(['1972']*df_1972.shape[0])

In [7]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1973"
df1 = pd.read_html(link, header=0)[2]

df_1973 = df1


df_1973['Year'] = np.array(['1973']*df_1973.shape[0])

In [8]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1974"
df1 = pd.read_html(link, header=0)[2]

df_1974 = df1

df_1974['Year'] = np.array(['1974']*df_1974.shape[0])

In [9]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1975"
df1 = pd.read_html(link, header=0)[2]

df_1975 = df1

df_1975['Year'] = np.array(['1975']*df_1975.shape[0])

In [10]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1976"
df1 = pd.read_html(link, header=0)[2]

df_1976 = df1

df_1976['Year'] = np.array(['1976']*df_1976.shape[0])

In [11]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1977"
df1 = pd.read_html(link, header=0)[2]

df_1977 = df1

df_1977['Year'] = np.array(['1977']*df_1977.shape[0])

In [12]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1978"
df1 = pd.read_html(link, header=0)[2]

df_1978 = df1

df_1978['Year'] = np.array(['1978']*df_1978.shape[0])

In [13]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_1979"
df1 = pd.read_html(link, header=0)[2]

df_1979 = df1

df_1979['Year'] = np.array(['1979']*df_1979.shape[0])

In [14]:
frames = [df_1970,df_1971,df_1972,df_1973,df_1974,df_1975,df_1976,df_1977,df_1978,df_1979]

df_1970s = pd.concat(frames,ignore_index=True)

In [15]:
df_1970s.to_csv('1970s.csv', index = False)